@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/montserrat-v21-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/montserrat-v21-latin_cyrillic-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/montserrat-v21-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v21-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v21-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/montserrat-v21-latin_cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/montserrat-v21-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v21-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
